.modal {
  opacity: 1;
  z-index: 1024;
}
.modal-backup {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #000;
  opacity: 0.5;
  display: none;
}
.fade {
  display: none;
}
.modal-dialog {
  width: 600px;
  min-height: 200px;
  background-color: #FFF;
  border: 1px solid black;
  border-radius: 6px;
}
.modal-dialog .modal-content {
  border-radius: 6px;
}
