/*
 * @group reset
 */
* {
  margin: 0;
  padding: 0;
}
body {
  font: 100%/1.6 "Microsoft Yahei", "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
  background-color: #F8F8F8;
}
/*
 * @group layout
 */
.wrapper {
  background: #FFF ;
  width: 76.8%;
  margin: 0 auto;
  text-align: left;
  max-width: 125em;
}
.inner {
  margin: 5% 0;
}
.content {
  padding: 5%;
  box-sizing: border-box;
}
/*
 * @group style
 */
h1 {
  font-size: 1.4em;
  font-weight: normal;
  margin: 1em 0;
}
.dotted-line {
  border-bottom: 1px dotted #CCC;
  margin: 20px auto;
}
h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0.5em 0;
}
/* 
  *@group float
  */
.left-float {
  float: left;
}
.right-float {
  float: right;
}
.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
/* @group word-bread */
.text-overflow {
  width: 10em;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.btn,
.btn-default {
  display: inline-block;
  margin: 25px 0 0;
  padding: 6px 12px;
  clear: both;
  font-weight: 400;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}
.btn:hover,
.btn-default:hover {
  background-color: #e6e6e6;
  color: #2e6da4;
}
